#banner{
	background: url(../images/bg-header.png);
	width: 100%;
	height: 110px;
	padding: 0px;
	border: 1px solid #E1E1E1;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}
#css-login{
	padding: 0px;
	border: 1px solid #E1E1E1;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#title-footer{
	color: #2c332e;
	font-size: 18px;

}
#footer{
	margin-top: 5px;
	border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    background-color: #ebeeef;
}
.login101-form{
	    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 49px 117px 73px 148px;
}
#id02{
	width: 685px !important;
	border-radius: 10px;
}
.sidebar-nav ul .sidebar-item .sidebar-link i {
	font-size:18px !important;
}
.cb1{
	background-color: #dae2ea;
	
}