<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>KHOA CÔNG NGHỆ THÔNG TIN - ĐẠI HỌC NÔNG LÂM TP.HCM</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/styleindex.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--===============================================================================================-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="banner">

				<img src="images/logo-header-Recovered.png" alt=""
					style="padding: 10px;">
			</div>
			<div class="col-md-12" id="css-login">
				<div class="limiter">
					<div class="container-login100">
						<div class="wrap-login100">
							<div class="login100-form-title">
								<span class="login100-form-title-1"> Đăng ký </span>
							</div>
							<span id="" style="color: #e22b2b" th:text="${successMessage}"></span>
							<form class="login100-form" action="#"
								th:action="@{/registration}" name="login-system" method="Post"
								id="registerForm" th:object="${user}">
								<div class="wrap-input100 m-b-26" id="inp1">
									<span class="fa fa-user label-input100" id="val-hoTen"
										style="font-size: 28px">*</span> <input class="input100"
										type="text" name="hoTen" placeholder="Họ và tên" id="hoTen"
										th:field="*{username}"> <span class="focus-input100 "></span>
								</div>
								<span id="hoTen_err" style="color: #e22b2b"></span>

								<div class="wrap-input100 m-b-26" id="inp1">
									<span class="fa fa-envelope label-input100" id="val-email"
										style="font-size: 28px">*</span> <input class="input100"
										type="text" name="email" placeholder="Email đăng nhập"
										id="email" th:field="*{email}"> <span
										class="focus-input100 "></span>
								</div>
								<span id="email_err" style="color: #e22b2b"></span>
								<div class="wrap-input100 m-b-18" id="inp2">
									<span class="fa fa-lock label-input100" id="val-matKhau"
										style="font-size: 28px">*</span> <input class="input100"
										type="password" name="password" placeholder="Mật khẩu"
										id="matKhau" th:field="*{password}"> <span
										class="focus-input100"></span>
								</div>
								<span id="matKhau_err" style="color: #e22b2b"></span>
								<div class="wrap-input100 m-b-18" id="inp2">
									<span class="fa fa-lock label-input100" id="val-nhapLai"
										style="font-size: 28px">*</span> <input class="input100"
										type="password" name="nhapLai" placeholder="Nhập lại mật khẩu"
										id="nhapLai"> <span class="focus-input100"></span>
								</div>
								<span id="nhapLai_err" style="color: #e22b2b"></span>
								<div class="wrap-input100 m-b-18" id="inp2">
									<span class="fa fa-phone label-input100" id="val-dienThoai"
										style="font-size: 28px">*</span> <input class="input100"
										type="text" name="dienThoai" placeholder="Số điện thoại"
										id="dienThoai" th:field="*{phonenumber}"> <span
										class="focus-input100"></span>
								</div>
								<span id="dienThoai_err" style="color: #e22b2b"></span>

								<div class="container-login100-form-btn">
									<div style="padding-right: 85px; padding-bottom: 10px;">
										<a th:href="@{/}"><button class="login100-form-btn"
												type="button">Hủy</button></a>
									</div>
									<button class="login100-form-btn" type="submit" id="btn-register">Đăng
										ký</button>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-12" id="footer">
				<p id="title-footer">Khoa Công Nghệ Thông Tin - ĐHNL TP.HCM :
					ĐT: 08-37242623 - Email: pvtinh@hcmuaf.edu.vn - Website:
					http://fit.hcmuaf.edu.vn</p>
			</div>
		</div>

	</div>

	<!--===============================================================================================-->
	<script src="js/validate.js"></script>
	<!--  <script src="js/checkEmail.js"></script> -->
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>